NEXT_PUBLIC_BASE_URL=https://rkabogados.cl
DISABLE_CACHE=true
NEXT_PUBLIC_ENVIRONMENT=local

CONTENTFUL_SPACE_ID=
CONTENTFUL_ACCESS_TOKEN=
CONTENTFUL_PREVIEW_ACCESS_TOKEN=

DRAFT_MODE_SECRET_TOKEN=

OPENAI_API_KEY=

# DB For embeddings
DATABASE_URL=
DATABASE_URL_UNPOOLED=

# Parameters for constructing your own connection string
PGHOST=
PGHOST_UNPOOLED=

# Re-Captcha
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=something
RECAPTCHA_SECRET_KEY=something-key
