@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --gray-60: #f7f6f6;

  --primary: #222f3f;
  --accent: #fed9a5;
  --accent-dark: #dda558;

  --font-georgia: "Georgia", serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-accent-dark: var(--accent-dark);

  --color-gray-60: var(--gray-60);

  --font-sans: var(--font-dm-sans);
  --font-serif: var(--font-georgia);

  --animate-wiggle: wiggle 0.7s linear infinite;
  --animate-clients-marquee-right: clients-marquee-right 45s linear infinite;

  @keyframes wiggle {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(4px);
    }
    50% {
      transform: translateX(0px);
    }
    75% {
      transform: translateX(-4px);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes clients-marquee-right {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0);
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-snap-type: y mandatory;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-dm-sans), sans-serif;
}

.loading-background-animation {
  @apply bg-gray-300 animate-pulse;
}

.chatbot-msg {
  @apply max-w-[92%] rounded-2xl px-3 py-3 text-sm font-[500] border border-[#D9D9D9];
}

.chatbot-msg.agent-msg {
  @apply bg-white text-gray-900 border border-gray-200 rounded-bl-xs;
}

.rich-text-heading {
  @apply font-sans font-bold;
}

.chatbot-msg.user-msg {
  @apply bg-primary text-white rounded-br-md;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: "Georgia", serif;
}

/* Hide the badge all over the website, this is only visible on the contact page */
.grecaptcha-badge {
  visibility: hidden;
}

.react-calendar__month-view__weekdays__weekday {
  @apply flex items-center justify-center py-2;
}

.react-calendar__month-view__weekdays__weekday > abbr {
  @apply text-white/50;
  text-decoration: none;
}

.react-calendar__navigation {
  @apply hidden;
}

.button-calendar > abbr {
  @apply font-semibold transition-all duration-200 cursor-pointer flex items-center justify-center text-white rounded-full size-10 hover:bg-white/10;
  pointer-events: auto;
}

.button-calendar {
  pointer-events: none;
  @apply border-t border-white/20 py-2 flex items-center justify-center;
}


.button-calendar.different-month > abbr {
  @apply text-white/50 font-medium;
}

.button-calendar:disabled > abbr {
  @apply text-white/50 cursor-not-allowed font-medium;
}

.button-calendar.current-day > abbr {
  @apply text-accent-dark font-bold;
}

.button-calendar.selected > abbr {
  @apply text-primary bg-white font-bold;
}

.section-container {
  @apply px-6 lg:px-0 lg:mx-auto lg:max-w-4xl xl:max-w-6xl 2xl:max-w-7xl 2xl:w-7xl;
}

.hero-title {
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); /* horiz offset, vert offset, blur, color */
}

.hero-description {
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); /* horiz offset, vert offset, blur, color */
}
